<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  

  <configuration>
  	<typeAliases>
		<typeAlias type="com.semi.main.product.ProductDTO" alias="ProductDTO"></typeAlias>
  		<typeAlias type="com.semi.main.product.ProductFileDTO" alias="ProductFileDTO"></typeAlias>
  		<typeAlias type="com.semi.main.member.MemberDTO" alias="MemberDTO"></typeAlias>
  		<typeAlias type="java.util.List" alias="List"></typeAlias>
  		<typeAlias type="java.lang.Long" alias="Long"></typeAlias>
  		
  		<typeAlias type="com.semi.main.adminNotice.AdminNoticeFileDTO" alias="AdminNoticeFileDTO"/>
			
		<typeAlias type="com.semi.main.adminNotice.AdminNoticeDTO" alias="AdminNoticeDTO"/>
		<typeAlias type="com.semi.main.util.Pager" alias="Pager"/>
  	</typeAliases>
  </configuration>