<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.semi.main.admin.AdminDAO">
  <sql id="searchSql">
  	WHERE M.USERNO>0
  		<if test="kind == 'userId'">
  		AND M.USERID LIKE '%'||#{search}||'%'
  		</if>
  		<if test="kind == 'email'">
  		AND M.EMAIL LIKE '%'||#{search}||'%'
  		</if>
  		<if test="kind == 'phone'">
  		AND M.PHONE LIKE '%'||#{search}||'%'
  		</if>	
  </sql>
  <sql id="searchSql2">
  	WHERE A.REPORTNO>0
  		<if test="kind == 'userId'">
  		AND A.USERID LIKE '%'||#{search}||'%'
  		</if>
  		<if test="kind == 'catName'">
  		AND A.CATNAME LIKE '%'||#{search}||'%'
  		</if>
  		<if test="kind == 'title'">
  		AND A.TITLE LIKE '%'||#{search}||'%'
  		</if>	
  </sql>
  	
  	<delete id="c"></delete>
  	
  	<select id="memberList" parameterType="Pager" resultMap="getResult">
		SELECT B.* FROM
		(SELECT A.*, ROWNUM R FROM
		(SELECT M.*, RO.GRANTNO, RO.GRANTNAME FROM MEMBER M LEFT JOIN MEMBERROLE MR
		ON(M.USERNO=MR.USERNO) LEFT JOIN ROLE RO ON(MR.GRANTNO=RO.GRANTNO)
		<include refid="searchSql"></include>
		 ORDER BY M.USERNO)A)B
		 WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<resultMap id="getResult" type="MemberDTO">
			<id column="USERNO" property="userNo" />
			<result column="userid" property="userId" />
			<result column="userpw" property="userPw" />
			<result column="name" property="name" />
			<result column="email" property="email" />
			<result column="birth" property="birth" />
			<result column="address" property="address" />
			<result column="phone" property="phone" />
			<result column="accountdate" property="accountDate" />
			<result column="intro" property="intro" />
			<result column="statusNo" property="statusNo" />
			<!-- 08/28 추가 -->
			<result column="zipcode" property="zipCode" />
			<result column="refaddress" property="refAddress" />
			<result column="detailaddress" property="detailAddress" />
			<result column="ORIGINALNAME" property="originalName" />
	
			<collection property="roles" javaType="List" ofType="RoleDTO">
				<id column="GRANTNO" property="grantNo" />
				<result column="GRANTNAME" property="grantName" />
			</collection>
		</resultMap>
  	
  	<select id="getTotal" parameterType="Pager" resultType="Long">
  		SELECT COUNT(USERNO) FROM MEMBER M
  		<include refid="searchSql"></include>
  	</select>
  	
  	<update id="statusChange" parameterType="MemberDTO">
  		UPDATE MEMBER SET STATUSNO=#{statusNo}
  		WHERE USERNO=#{userNo}
  	</update>
  	
  	<select id="memberDetail" parameterType="MemberDTO" resultMap="getResult">
		SELECT M.*, RO.GRANTNO, RO.GRANTNAME, P.ORIGINALNAME
		FROM MEMBER M LEFT JOIN MEMBERROLE MR
		ON(M.USERNO=MR.USERNO)
		LEFT JOIN ROLE RO ON(MR.GRANTNO=RO.GRANTNO)
		LEFT JOIN PROFILE P ON(P.USERNO=M.USERNO)
		WHERE M.USERNO=#{userNo}
  	</select>
  	
  	<update id="memberUpdate" parameterType="MemberDTO">
  		UPDATE MEMBER SET
  		STATUSNO=#{statusNo},
  		USERPW=#{userPw},NAME=#{name},
  		BIRTH=#{birth},EMAIL=#{email},
  		PHONE=#{phone},INTRO=#{intro}
  		WHERE USERNO=#{userNo}
  	</update>
  	
  	<insert id="reportAdd" parameterType="Map">
  		<selectKey keyProperty="report.reportNo" resultType="Long" order="BEFORE">
 			SELECT REPORT_SEQ.NEXTVAL FROM DUAL 
 		</selectKey>
  		INSERT INTO REPORT
  		VALUES (#{report.reportNo}, #{report.userNo}, #{report.catNo}, 0, #{report.rContents}, #{member.userId}, #{report.title}, SYSDATE)
  	</insert>
  	
  	 <insert id="setFileAdd" parameterType="ReportFileDTO">
 		INSERT INTO REPORTIMAGE
 		VALUES (REPORTIMAGE_SEQ.NEXTVAL, #{reportNo}, #{originalName}, #{fileName})
 	</insert>
  	
  	<select id="reportList" parameterType="Pager" resultType="ReportDTO">
  		SELECT B.* FROM
  		(SELECT ROWNUM R, A.* FROM
  		(SELECT RE.*, C.CATNAME FROM REPORT RE JOIN REPORTCATEGORY C
  		ON(RE.CATNO=C.CATNO)ORDER BY RE.REPORTNO DESC)A
  		<include refid="searchSql2"></include>)B
  		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="reportTotal" parameterType="Pager" resultType="Long">
  		SELECT COUNT(A.REPORTNO) FROM
  		(SELECT RE.*, C.* FROM REPORT RE
  		JOIN REPORTCATEGORY C ON(RE.CATNO=C.CATNO))A
  		<include refid="searchSql2"></include>
  	</select>
  	
  	<update id="reportStatus" parameterType="ReportDTO">
  		UPDATE REPORT SET STATUSNO=1 WHERE REPORTNO=#{reportNo}
  	</update>
  	
  	<select id="reportDetail" parameterType="ReportDTO" resultMap="resultReport">
  		SELECT R.*, RC.*, RI.* FROM REPORT R
		JOIN REPORTCATEGORY RC ON (R.CATNO=RC.CATNO)
		LEFT JOIN REPORTIMAGE RI ON (R.REPORTNO=RI.REPORTNO)
		WHERE R.REPORTNO=#{reportNo}
  	</select>
  	
  	<select id="reportId" parameterType="ReportDTO" resultType="MemberDTO">
  		SELECT USERID, USERNO FROM MEMBER WHERE USERNO=#{userNo}
  	</select>
  	
  	<resultMap type="ReportDTO" id="resultReport">
  		<id column="REPORTNO" property="reportNo" />
		<result column="USERNO" property="userNo" />
		<result column="CATNO" property="catNo" />
		<result column="STATUSNO" property="statusNo" />
		<result column="RCONTENTS" property="rContents" />
		<result column="USERID" property="userId" />
		<result column="TITLE" property="title" />
		<result column="REPORTDATE" property="reportDate" />
		<result column="CATNAME" property="catName" />
  		
  		<collection property="fileDTOs" javaType="List" ofType="reportFileDTO">
			<id column="FILENO" property="fileNo"/>
			<result column="REPORTNO" property="reportNo" />
			<result column="ORIGINALNAME" property="originalName"/>
			<result column="FILENAME" property="fileName"/>
		</collection>
  	</resultMap>
  	
  	<update id="passwordReset" parameterType="MemberDTO">
  		UPDATE MEMBER SET USERPW=#{userPw} WHERE USERNO=#{userNo}
  	</update>
  	
  	<select id="productList" parameterType="ProductDTO" resultMap="getSelectResult">
  		SELECT P.*, C.*, M.USERID, PI.* FROM PRODUCT P
  		JOIN CATEGORY C ON (P.CATNO  = C.CATNO)
  		JOIN MEMBER M ON (P.USERNO = M.USERNO)
  		LEFT JOIN PRODUCTIMAGE PI ON(P.PRONO = PI.PRONO)
  		ORDER BY P.PRONO
  	</select>
  	
  	<resultMap type="ProductDTO" id="getSelectResult">
		<id column="PRONO" property="proNo"/>
		<result column="PRONAME" property="proName"/>
		<result column="USERNO" property="userNo"/>
		<result column="CATNO" property="catNo"/>
		<result column="PROPRICE" property="proPrice"/>
		<result column="PROCONTENTS" property="proContents"/>
		<result column="CREATEDATE" property="createDate"/>
		<result column="MODIFYDATE" property="modifyDate"/>
		<result column="PROHIT" property="hit"/>
		<result column="PROSALE" property="proSale"/>
		<result column="PROAMOUNT" property="proAmount"/>
		
		<association property="category" javaType="CategoryDTO">
			<id column="CATNO" property="catNo"/>
			<result column="CATNAME" property="catName"/>
		</association>
		
		<association property="member" javaType="MemberDTO">
			<id column="USERNO" property="userNo"/>
			<result column="USERID" property="userId"/>
		</association>

		<collection property="fileDTOs" javaType="List" ofType="ProductFileDTO">
			<id column="FILENO" property="fileNo"/>
			<result column="ORIGINALNAME" property="originalName"/>
			<result column="FILENAME" property="fileName"/>
		</collection>
	</resultMap>
	
	<update id="productSale" parameterType="ProductDTO">
		UPDATE PRODUCT SET PROSALE=#{proSale} WHERE PRONO=#{proNo}
	</update>
  </mapper>