<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.semi.main.member.MemberDAO">

	<select id="getLogin" resultType="MemberDTO" parameterType="MemberDTO">
	SELECT USERNO, USERID, USERPW, NAME, EMAIL, TO_CHAR(BIRTH, 'YYYY-MM-DD') AS BIRTH, ADDRESS, PHONE
			   ,TO_CHAR(ACCOUNTDATE, 'YYYY-MM-DD') AS ACCOUNTDATE, INTRO, STATUSNO
	FROM MEMBER
	WHERE USERID=#{userId} AND USERPW=#{userPw} 
	
	</select>


</mapper>