<?xml version="1.0" encoding="UTF-8"?>

<!-- 어떤 태그가 어떤 역할을 한다 : 스키마코드 필요함 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 

  <mapper namespace="com.semi.main.qna.QnaDAO">
 
 	<!-- 관리자 페이지 List -->
 	<select id="getList" parameterType="Pager" resultType="QnaDTO">
 	
 	SELECT BOARDNO,USERID,KINDNAME,TITLE,CREATEDATE,STATUS
  	FROM(SELECT ROWNUM R, B.* 
  		FROM(
  			SELECT Q.*,M.USERID,K.KINDNAME
  			FROM QNA Q JOIN MEMBER M
  			ON Q.USERNO = M.USERNO
  			JOIN KIND K
  			ON Q.KINDNO = K.KINDNO
  			WHERE BOARDNO > 0
  			ORDER BY BOARDNO DESC
  		
  		)B )
  	WHERE R BETWEEN #{startRow} AND #{lastRow}
 	
 	</select>
 	<!-- 내문의 LIST  -->
	<select id="getMyList" parameterType="QnaDTO" resultType="QnaDTO">
		SELECT BOARDNO,TITLE,CREATEDATE,STATUS
		FROM QNA
		WHERE USERNO=#{userNo}
	</select>
	
 	<!-- detail  -->
	<select id="getDetail" resultMap="getDetailResult" resultType="QnaDTO">
		SELECT Q.*,QF.*,M.USERID,K.KINDNAME
		FROM QNA Q LEFT JOIN QNAFILE QF
		ON (Q.BOARDNO = QF.BOARDNO)
		JOIN MEMBER M
		ON (Q.USERNO = M.USERNO)
		JOIN KIND K
		ON (Q.KINDNO = K.KINDNO)
		WHERE Q.BOARDNO = #{boardNo}
	</select>	
	
	<resultMap type="QnaDTO" id="getDetailResult">
		<id column="BOARDNO" property="boardNo"/>
		<result	column="USERNO" property="userNo"/>
		<result	column="KINDNO" property="kindNo"/>
		<result	column="TITLE" property="title"/>
		<result	column="CREATEDATE" property="createDate"/>
		<result	column="CONTENTS" property="contents"/>
		<result	column="STATUS" property="status"/>
		<result column="USERID" property="userId"/>
		<result column="KINDNAME" property="kindName"/>
		
		<collection property="fileDTOs" javaType="List" ofType="QnaFileDTO">
			<id column="FILENO" property="fileNo"/>
			<result column="ORIGINALNAME" property="originalName"/>
			<result column="FILENAME" property="fileName"/>
		</collection>
	</resultMap>
	
	
	<!-- ADD -->
	<insert id="setAdd" parameterType="QnaDTO">
		<selectKey keyProperty="boardNo" resultType="Long" order="BEFORE">
			SELECT QNA_SEQ.NEXTVAL FROM DUAL
		 </selectKey>
		INSERT INTO QNA
		VALUES(#{boardNo},#{userNo},#{kindNo},#{title},sysdate,#{contents},default)	 
	</insert>
	
	<!-- fileadd  -->
	<insert id="setFileAdd" parameterType="QnaFileDTO">
		INSERT INTO QNAFILE VALUES (QNAFILE_SEQ.NEXTVAL,#{boardNo},#{originalName},#{fileName})
	</insert>
	
		<!--fileDelete  -->
	<delete id="setFileDelete" parameterType="QnaFileDTO">
		DELETE FROM QNAFILE WHERE FILENO=#{fileNo}
	</delete>
	
		<!-- 파일 다운  -->
	<select id="getFileDetail" parameterType="QnaFileDTO" resultType="QnaFileDTO">
		SELECT FILENO, ORIGINALNAME, FILENAME
		FROM QNAFILE
		WHERE FILENO=#{fileNo}
	</select>
		
	
  
  </mapper>